/* header +nav */
header {
  position: fixed;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c2c2c;
  z-index: 9999;
}

.logo img {
  width: 118px;
  vertical-align: middle;
}

.logo a:nth-child(2) img {
  width: 150px;
}

nav {
  color: white;
  font-weight: bold;
}

nav ul {
  display: flex;
  align-items: center;
  /* line-height: 70px; */
}

nav li {
  margin-right: 37px;
  line-height: 70px;
}

nav li:nth-child(3) {
  margin-right: 21px;
}

nav li:nth-child(3) a {
  padding: 5px 18px;
  background-color: #ed5d35;
  border-radius: 30px;
}

nav img {
  vertical-align: middle;
}

/* main-news */

.news {
  height: 1290px;
  background-color: pink;

}

.main-bg {
  height: 100%;
  background: url("/images/main-bg.png") no-repeat center center;
  background-size: 100% auto;
  background-attachment: fixed;
}

.main-bg img:nth-child(1) {
  position: fixed;
  display: inline-block;
  width: 100%;
  margin-top: 75px;
  padding: 1.5vw 5%;
  z-index: 0;
}

.main-bg img:nth-child(2) {
  position: fixed;
  top: 50%;
  transform: translate(0, -50%);
  width: 17vw;
  z-index: 0;
}

.main-bg img:nth-child(3) {
  position: fixed;
  top: 60%;
  left: 10%;
  width: 25vw;
  z-index: 0;
}

.main-bg img:nth-child(4) {
  position: fixed;
  top: 50%;
  right: 5%;
  width: 8vw;
  z-index: 0;
}

.main-bg img:nth-child(5) {
  position: absolute;
  right: 15%;
  width: 15vw;
  z-index: 0;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content img {
  margin-top: 28vw;
  width: 45vw;
}

.conten-main .top {
  width: 39vw;
  /* font-weight: bold; */
  letter-spacing: 1px;
}

.conten-main .top h3 {
  font-size: 24px;
  line-height: 2vw;
  color: white;
  background-color: #1e1e1e;
  height: 2vw;
  font-weight: 500;
}

.conten-main .top p {
  line-height: 2vw;
  font-size: 24px;
  background-color: #fff;
  height: 2vw;
  font-weight: 500;
}

.content .bottom {
  margin-top: 1vw;
}

.content .bottom p {
  display: inline-block;
  padding: 1px 5px;
  margin-bottom: 0.5rem;
  font-size: 17px;
  font-weight: 350;
  letter-spacing: 2px;
  color: #fff;
  background-color: #1e1e1e;

}

.multispeaker img {
  margin-top: 1vw;
  margin-bottom: 4vw;
  width: 50vw;
}

/* audience */
.audience {
  position: relative;
  height: 360px;
  background-color: red;
}